body {
  background-color: #0d1117;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main {
  height: 250px;
  width: 75%;
  flex-direction: row;
}
div {
  display: flex;
  width: 33%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
