/* color:
    https://www.fashiontrendsetter.com/content/color_trends/color-decoder/Color-Code-Neon.html */

:root {
  --green: #00ff00;
  --blue: #00ffff;
  --red: #ff0000;
  --orange: #f55500;
  --yellow: #ffff00;
  --pink: #ed00b1;

  --primary: var(--green);
  --supplement: var(--red);

  --clipHorHalf: polygon(25% 0, 75% 0, 75% to, 25% to);
  --clipVertHalf: polygon(0 25%, to 25%, to 75%, 0 75%);
}

.path1 {
  animation-name: shakeX;
}
.path2 {
  animation-name: shakeX2;
}
.path3 {
  animation-name: shakeX3;
}

.path1,
.path2,
.path3,
.cls-1,
.cls-2 {
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.cls-1 {
  fill: var(--primary);
  animation-name: smoothColor;
}
.cls-2 {
  fill: var(--supplement);
  animation-name: smoothColor2;
}

/* So we need next types of animations initialy

2 color changes for both colors
2 X shaking animations (large and small)
2 Y shaking animations (large and small)
2 middle 50% polygon cips for Y and X

all animations should be synchronized and be same-alternative
Shaking and clipping animations can differ from each other a little in time as well */

@keyframes smoothColor {
  from {
    fill: var(--primary);
  }
  45% {
    fill: var(--primary);
  }
  55% {
    fill: var(--supplement);
  }
  to {
    fill: var(--supplement);
  }
}
@keyframes smoothColor2 {
  from {
    fill: var(--supplement);
  }
  45% {
    fill: var(--supplement);
  }
  55% {
    fill: var(--primary);
  }
  to {
    fill: var(--primary);
  }
}
@keyframes shakeX {
  from {
    transform: translateX(0);
  }

  49% {
    transform: translateX(0);
    clip-path: none;
  }
  49.5% {
    transform: translateX(-7px);
    clip-path: var(--clipHorHalf);
  }
  50% {
    transform: translateX(+9px);
  }
  50.5% {
    transform: translateX(-11px);
  }
  51% {
    transform: translateX(+5px);
  }
  51.5% {
    transform: translateX(0);
    clip-path: none;
  }
  to {
    transform: translateX(0);
  }
}
@keyframes shakeX2 {
  from {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0);
    clip-path: none;
  }
  50.5% {
    transform: translateX(-4px);
    clip-path: var(--clipHorHalf);
  }
  51% {
    transform: translateX(+4px);
  }
  51.5% {
    transform: translateX(-7px);
  }
  52% {
    transform: translateX(+3px);
  }
  52.5% {
    transform: translateX(0);
    clip-path: none;
  }
  to {
    transform: translateX(0);
  }
}
@keyframes shakeX3 {
  from {
    transform: translateX(0);
  }

  48% {
    transform: translateX(0);
    clip-path: none;
  }
  48.5% {
    transform: translateX(+9px);
    clip-path: var(--clipHorHalf);
  }
  49% {
    transform: translateX(-4px);
  }
  49.5% {
    transform: translateX(+7px);
  }
  50% {
    transform: translateX(-3px);
  }
  50.5% {
    transform: translateX(0);
    clip-path: none;
  }
  to {
    transform: translateX(0);
  }
}
@keyframes shakeY {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
    clip-path: none;
  }
  50.5% {
    transform: translateY(-7px);
    clip-path: var(--clipVertHalf);
  }
  51% {
    transform: translateY(+4px);
  }
  51.5% {
    transform: translateY(-9px);
  }
  52% {
    transform: translateY(+3px);
  }
  52.5% {
    transform: translateY(0);
    clip-path: none;
  }
  to {
    transform: translateY(0);
  }
}
@keyframes shakeY2 {
  from {
    transform: translateY(0);
  }
  51% {
    transform: translateY(0);
    clip-path: none;
  }
  51.5% {
    transform: translateY(+9px);
    clip-path: var(--clipVertHalf);
  }
  52% {
    transform: translateY(-4px);
  }
  52.5% {
    transform: translateY(+11px);
  }
  53% {
    transform: translateY(-6px);
  }
  54.5% {
    transform: translateY(0);
    clip-path: none;
  }
  to {
    transform: translateY(0);
  }
}
